cib/WebContent/WEB-INF/transxml/packet.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT packet (transaction_code, packet_to_format, packet_to_parse)>
<!ELEMENT transaction_code (#PCDATA)>
<!ATTLIST transaction_code
	header_field_name CDATA ""
>
<!ELEMENT packet_to_format (field+)>
<!ATTLIST packet_to_format
	header_xml CDATA "bocomsz_header.xml"
	data_length_field CDATA "PacketLength"
>
<!ELEMENT packet_to_parse (field+)>
<!ATTLIST packet_to_parse
	header_xml CDATA "bocomsz_header.xml"
>
<!ELEMENT field (primitive_field | composite_field | indexed_field)>
<!ATTLIST field
	name CDATA #REQUIRED
>
<!ELEMENT composite_field (field+)>
<!ELEMENT format (#PCDATA)>
<!ATTLIST format
	signed CDATA "no"
	hidden_decimal CDATA "yes"
	decimal CDATA "0"
	packed CDATA "no"
	skip CDATA "0"
	length CDATA "0"
	delimiter CDATA #IMPLIED
	pic (0|9|L|R) #REQUIRED
	skip_after CDATA "0"
>
<!ELEMENT primitive_field (format)>
<!ATTLIST primitive_field
	java_type CDATA "String"
	default_value CDATA #IMPLIED
>
<!ELEMENT indexed_field ((fixed_count | count_field), (primitive_field | composite_field | indexed_field))>
<!ELEMENT fixed_count (#PCDATA)>
<!ELEMENT count_field (format)>
<!ATTLIST count_field
	java_type CDATA "Integer"
>
